
\.DS_Store
dev/wp-content/themes/saint-leonart/assets/*
dev/wp-content/themes/saint-leonart/node_modules

\.idea/

dev/wp-content/themes/saint-leonart/*.php
!dev/wp-content/themes/saint-leonart/src/*
