.navbar {
    color: white;
    &-toggler {
        &-icon {
            background-image: url('../img/bars.svg')
        }
    }
}
.nav-link {
    color: white;
    text-transform: uppercase;
    font-family: $headings-font-family;
    transition: 0.2s;
    &--dark {
        color: theme-color("primary");
    }
    &:hover {
        color: rgb(230, 230, 230);
    }
    &.active {
        border-bottom: 2px solid white;
    }
}