.header {
    background-image: url('../img/header-bcg.jpg');
    background-size: cover;
    background-position: 50%; 
    &--front-page {
    }
    &__content {
        color: white;
        @include media-breakpoint-up(lg) {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
    }
    &__logo {
        width: 80%;
    }
}