// ROBOTO AND OSWALD

@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:400,400i,700');

$oswald : Oswald, sans-serif;
$roboto : Roboto, sans-serif;

* {
  font-family: $roboto;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $oswald;
}

