.c-brand {
  text-align: center;
  color: white;
  &--home {
    .c-brand {
      &__logo {
        margin: auto;
      }
      &__text-logo {
        @include inuit-hidden-visually();
      }
      &__dates {
        font-family: $oswald;
        @include inuit-font-size(28px);
        display: block;
      }
      &__location {
        font-family: $oswald;
        @include inuit-font-size(24px);
        display: block;
      }
    }
  }
}